* {
  color: lightslategray;
}
.navbar {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  width: 100%;
  background-color: white;
  display: flex;
  margin-bottom: 2px;
  height: 70px;
  border-bottom: 0.5px solid #dfdada;

  .Logo {
    display: flex;
    justify-items: flex-start;
  }

  .nav-items {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 70vw;
    margin-left: 2rem;

    .nav-item {
      justify-content: space-between;
      padding: 5px;
      margin: 0 30px
    }

    .nav-item a{
      color: lightslategray;
    }
}

}

